__pycache__/
*.pyc
.DS_Store
out
website/
docs-minimind/
dataset/*.jsonl
dataset/*.json
out/*.pth
checkpoints/
# 奖励模型
internlm2-1_8b-reward/
# 虚拟环境
minimind-env/
.venv/
# wandb/swanlab 日志
wandb/
swanlab_logs/
*.sh